<header class="header">
  <div class="filter">
    <app-navigation></app-navigation>
    <h1 class="header__title" [@title]="titleState">Restaurants</h1>
  </div>
  <div class="header__nav">
    <span>Baku Guide</span>
    <span>></span>
    <span>Food and Drink</span>
    <span>></span>
    <span>Restaurants</span>
  </div>
</header>

<main class="main">
  <div class="restaraunt-detailed" *ngIf="selectedRestaraunt">
    <app-restaraunt-detailed
      [restaraunt]="selectedRestaraunt"
    ></app-restaraunt-detailed>
  </div>
  <div class="restaraunts" *ngIf="!selectedRestaraunt">
    <div class="restaraunts__content">
      <div class="restaraunts__filtration">
        <h3 class="restaraunts__filtration__title">Filter By</h3>
        <hr />
        <h4 class="restaraunts__filtration__category">Cuisine</h4>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div
            class="restaraunts__filtration__values"
            *ngFor="let data of Cuisine; let i = index"
          >
            <label class="value">
              <input
                class="chbox"
                type="checkbox"
                [value]="data.value"
                (change)="onCheckboxChange($event)"
              />
              {{ data.name }}
            </label>
          </div>
        </form>
        <h4 class="restaraunts__filtration__category">Menu</h4>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div
            class="restaraunts__filtration__values"
            *ngFor="let data of Menu; let i = index"
          >
            <label class="value">
              <input
                class="chbox"
                type="checkbox"
                [value]="data.value"
                (change)="onCheckboxChange($event)"
              />
              {{ data.name }}
            </label>
          </div>
        </form>
        <h4 class="restaraunts__filtration__category">Type</h4>
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div
            class="restaraunts__filtration__values"
            *ngFor="let data of Type; let i = index"
          >
            <label class="value">
              <input
                class="chbox"
                type="checkbox"
                [value]="data.value"
                (change)="onCheckboxChange($event)"
              />
              {{ data.name }}
            </label>
          </div>
          <div class="restaraunts__filtration__button">
            <input type="submit" value="Filter" />
          </div>
        </form>
      </div>
      <div class="restaraunts__restaraunt-list">
        <app-restaraunt
          [restaraunt]="restaraunt"
          *ngFor="
            let restaraunt of restaraunts
              | paginate : { itemsPerPage: 5, currentPage: p }
          "
        ></app-restaraunt>
      </div>
      <p *ngIf="!(restaraunts.length > 0)">
        Sorry, no restaurant matches the selected categories, please select
        others
      </p>
    </div>
    <pagination-controls
      *ngIf="restaraunts.length > 0"
      class="restaraunts__pagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</main>
