@use "../../../shared/styles/colors.scss" as color;
@use "../../../shared/styles/mixins.scss" as *;
.main {
  padding: 50px 120px;
  background-color: color.$grey-background;
  .restaraunts {
    &__content {
      display: flex;
      justify-content: space-evenly;
    }
    &__pagination {
      text-align: center;
    }
    &__filtration {
      width: 250px;
      height: fit-content;
      background-color: color.$white;
      border-radius: 3px;
      padding: 20px;
      box-sizing: border-box;
      .chbox {
        width: 16px;
        height: 16px;
        margin: 0 0 4px 0;
        vertical-align: middle;
      }
      hr {
        border: none;
        border-top: 1px color.$light-grey solid;
        width: 80%;
        margin-bottom: 20px;
      }
      &__title {
        text-align: center;
        color: color.$orange;
        font-weight: 700;
        text-transform: uppercase;
      }
      &__values {
        margin: 5px 0;
      }
      &__category {
        color: color.$mid-light-grey;
        margin-top: 10px;
      }
      &__button {
        text-align: center;
        margin-top: 10px;
        input {
          color: color.$white;
          background-color: color.$orange;
          font-weight: 600;
          text-transform: uppercase;
          padding: 10px 20px;
          border-radius: 5px;
          border: none;
          outline: none;
          &:hover {
            box-shadow: 0 0 5px color.$dark-transparent-black;
            background-color: color.$hover-btn-orange;
            transition: all 0.2s linear;
          }
          &:active {
            box-shadow: 0 0 10px color.$dark-transparent-black;
            background-color: color.$active-btn-orange;
          }
        }
      }
      .value {
        @include fontSize(0.9em, 300);
        color: color.$mid-light-grey;
      }
    }
  }
}
@media screen and (max-width: 1290px) {
  .main {
    padding: 50px;
    .restaraunts {
      &__filtration {
        width: 25%;
      }
      &__restaraunt-list {
        width: 60%;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .main {
    padding: 50px 30px;
    .restaraunts {
      &__filtration {
        width: 30%;
      }
      &__restaraunt-list {
        width: 65%;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding: 50px 20px;
    .restaraunts {
      &__content {
        display: block;
      }
      &__filtration {
        margin-bottom: 30px;
        width: 100%;
        &__values {
          display: inline-block;
          margin: 5px 10px 0 0;
          background-color: color.$grey-background;
          padding: 5px 7px;
          border-radius: 3px;
          &:hover {
            background-color: color.$light-grey;
            transition: 0.8s;
          }
        }
      }
      &__restaraunt-list {
        width: 100%;
      }
    }
  }
}
