@use "../../../shared/styles/mixins.scss" as *;
.cinemas__title {
  @include fontSize(2.5em, 200);
  text-align: center;
}
.cinema-list {
  width: 100%;
  padding: 30px 150px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 1118px) {
  .cinema-list {
    padding: 30px 50px;
  }
}
@media screen and (max-width: 768px) {
  .cinemas__title {
    font-size: 1.5em;
  }
}
