.mall {
  width: 380px;
  height: 380px;
  margin: 10px;
  text-align: left;
  background: #fff;
  border: 1px solid #e7e7e7;
  &:hover {
    box-shadow: 0 0 10px #e7e7e7;
    h3,
    h4,
    span,
    p {
      color: #111;
    }
  } 
  &__content {
    padding: 15px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__name {
    font-size: 1.6em;
    font-weight: 300;
    color: #777;
  }
  &__address {
    margin: 5px 0;
    font-weight: 400;
    font-size: 0.9em;
    color: #999;
  }
  &__hours {
    font-weight: 400;
    color: #999;
  }
  &__location {
    margin: 5px 0;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}