<div class="theatre">
  <img class="theatre__image" [src]="theatre.image" />
  <div class="theatre__content">
    <h3 class="theatre__name">{{ theatre.name }}</h3>
    <h4 class="theatre__location">
      <!-- <a [href]="restaraunt.link" target="_blank"> -->
      <img
        class="theatre__loc"
        src="../../../../assets/images/location.png"
        alt=""
      />
      {{ theatre.address }}
      <!-- </a> -->
    </h4>
    <p class="theatre__description">
      {{ theatre.description }}
    </p>
  </div>
</div>
