.theatre {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  text-align: left;
  display: flex;
  background: #fff;
  padding: 20px;
  border: 1px solid #e7e7e7;
  &:hover {
    box-shadow: 0 0 10px #e7e7e7;
    h4,
    p {
      color: #333;
    }
  } 
  &__image {
    width: 400px;
    height: auto;
  }
  &__content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__name {
    font-size: 1.6em;
    font-weight: 300;
    color: #72ba58;
  }
  &__description {
    color: #777;
  }
  &__location {
    color: #777;
    font-weight: 200;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}
