.form {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  width: 45%;
  transition: all 0.3s linear;
  &__flex-inputs {
    display: flex;
    justify-content: space-between;
    div {
      width: 320px;
      text-align: left;
    }
  }
  &__message {
    text-align: left;
  }
  &__name {
    input {
      background-image: url("../../../assets/images/icon.png");
    }
  }
  &__email {
    input {
      background-image: url("../../../assets/images/envelope.png");
    }
  }
  &__invalid {
    color: #ec3521;
    font-size: 0.8em;
    margin-top: -10px;
  }
  input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0 15px 0;
    font-size: 1em;
    padding: 10px 12px 10px 50px;
    box-sizing: border-box;
    background-size: 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    outline: none;
    &:focus {
      border: 1px solid #666;
      transition: all 0.4s linear;
    }
    &::placeholder {
      color: #ddd;
    }
  }
  button {
    padding: 15px 25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ec7c21;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 20px;
    &:disabled {
      background-color: #ec7c21;
      box-shadow: none;
    }
    &:hover {
      background-color: #ec5a21;
      transition: all 0.2s linear;
    }
    &:active:enabled {
      box-shadow: 0 0 10px #020107c2;
      background-color: #ec3521;
    }
  }
  textarea {
    font-size: 1em;
    width: 100%;
    max-height: 215px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    margin: 10px 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Manrope", sans-serif;
    &:focus {
      border: 1px solid #666;
      transition: all 0.4s linear;
    }
    &::placeholder {
      color: #ddd;
    }
  }
}
