<app-header
  [pageName]="'Attractions'"
  [image]="'../../../../../assets/images/icheri-sheher.jpg'"
></app-header>
<main class="main">
  <h1 class="attractions__title">
    Top attractions in Baku
    <app-thin-line></app-thin-line>
  </h1>
  <div class="attractions__slider">
    <ng-image-slider
      [images]="imageObject"
      [infinite]="true"
      [imageSize]="{ width: '420px', height: '300px' }"
      [autoSlide]="{ interval: 2, stopOnHover: true }"
      #nav
    ></ng-image-slider>
  </div>
  <div
    class="attraction"
    *ngFor="let attr of attrs | paginate : { itemsPerPage: 5, currentPage: p }"
  >
    <app-card
      [type] = "'card-1'"
      [title]="attr.name"
      [description]="attr.desc"
      [image]="attr.image"
      [link]="attr.link"
      [location]="attr.location"
    ></app-card>
    <hr />
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>
