<header class="header">
  <div class="filter">
    <app-navigation></app-navigation>
    <h1 class="header__title" [@title]="titleState">Attractions</h1>
  </div>
  <div class="header__nav">
    <span><a routerLink="/">Baku Guide</a></span>
    <span>></span>
    <span>Attractions</span>
  </div>
</header>

<main class="main">
  <h1 class="top__attr">Top 10 must see places</h1>
  <div class="attractions__slider">
    <ng-image-slider
      [images]="imageObject"
      [infinite]="true"
      [imageSize]="{ width: '420px', height: '300px' }"
      [autoSlide]="{ interval: 2, stopOnHover: true }"
      #nav
    ></ng-image-slider>
  </div>
  <h2 class="attractions__title">Associated Venues</h2>
  <app-attraction
    [attr]="attr"
    *ngFor="let attr of attrs | paginate : { itemsPerPage: 5, currentPage: p }"
  ></app-attraction>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>
