@use "../../../shared/styles/colors.scss" as color;
@use "../../../shared/styles/mixins.scss" as *;

.main {
  padding: 0 120px 50px 120px;
  text-align: center;
  .attractions {
    &__title {
      @include fontSize(2em, 400);
      text-align: center;
      color: color.$dark-grey;
      margin: 50px 0 30px 0;
    }
    &__slider {
      margin-bottom: 50px;
    }
  }
}
hr {
  border: none;
  border-top: 1px solid color.$light-grey;
  width: 80%;
  margin: 0;
}
@media screen and (max-width: 1290px) {
  .main {
    padding: 20px 100px;
    .attractions {
      &__slider {
        width: 850px;
        margin: 30px auto;
      }
    }
  }
}
@media screen and (max-width: 1180px) {
  .main {
    padding: 20px 70px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    padding: 20px 30px;
    .attractions {
      &__slider {
        width: 425px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  hr {
    margin: auto;
    width: 60%;
  }
}
@media screen and (max-width: 540px) {
  .main {
    padding: 20px;
    .attractions {
      &__title {
        font-size: 1.5em;
      }
      &__slider {
        display: none;
      }
    }
  }
}
