$mid-transparent-black: #00000082;
$dark-transparent-black: #000000ba;
$light-transparent-black: #00000026;
$black-background: #1d1d21;
$dark-grey: #333;
$mid-light-grey: #666;
$light-grey: #d1d1d1;
$grey-background: #f1f1f1;
$white: #fff;
$orange: #ec7c21;
$hover-btn-orange: #ec5a21;
$active-btn-orange: #ec3521;
$green: #72ba58;
$hover-green: #5b9e43;
$active-green: #37883a;