<div class="restaurant reveal" [routerLink]="['/restaurants', restaraunt.id]">
  <div class="restaurant__image-box">
    <a [href]="restaraunt.image" target="_blank">
      <img class="restaurant__image" [src]="restaraunt.image"
    /></a>
  </div>
  <div class="restaurant__content">
    <h3 class="restaurant__name">{{ restaraunt.name }}</h3>

    <h4 class="restaurant__location">
      <img
        class="restaurant__loc"
        src="../../../../assets/images/location.png"
        alt=""
      />
      {{ restaraunt.address }}
    </h4>
    <p class="restaraunt__rating">Rating: {{ restaraunt.rating }}</p>
  </div>
</div>
