@use '../../../shared/styles/colors.scss' as color;
@use '../../../shared/styles/mixins.scss' as *;
.restaurant {
  display: flex;
  margin-bottom: 20px;
  text-align: left;
  background-color: color.$white;
  border-radius: 3px;
  padding: 20px;
  &:hover {
    box-shadow: 0 0 10px color.$light-grey;
    transition: all linear 0.3s;
    img {
      scale: (1.1);
      transition: .3s ease-out;
    }
  }
  a {
    text-decoration: none;
  }
  &__image-box {
    overflow: hidden;
    width: 250px;
    height: 200px;
    margin: 0 30px 0 0;
  }
  &__image {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
  }
  &__name {
    @include fontSize(1.5em, 300);
    color: color.$orange;
  }
  &__rating {
    @include fontSize(.9em, 600);
    line-height: 23px;
    color: color.$mid-light-grey;
  }
  &__location {
    @include fontSize(.9em, 300);
    color: color.$light-grey;
    margin: 30px 0;
  }
  &__loc {
    width: 15px;
  }
}
hr {
  border: none;
  border-top: 1px color.$light-grey solid;
  width: 80%;
  margin: unset;
}
@media screen and (max-width: 992px) {
  .restaurant {
    display: block;
    width: 70%;
    margin: 0 auto 20px auto;
    &__image,
    &__image-box,
    &__content {
      width: 100%;
    }
  }
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}