<app-header
  [pageName]="'Outdoor Activities'"
  [image]="'../../../../assets/images/outdoor.jpg'"
></app-header>

<main class="main">
  <h2 class="main__title">
    Parks in Baku
    <app-thin-line></app-thin-line>
  </h2>
  <div
    class="main__parks"
    *ngFor="let park of parks | paginate : { itemsPerPage: 5, currentPage: p }"
  >
    <app-card
      [type] = "'card-1'"
      [title]="park.name"
      [description]="park.description"
      [images]="park.images"
      [link]="park.link"
      [location]="park.location"
    ></app-card>
    <hr />
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</main>
