@use '../../../shared/styles/colors.scss' as color;
@use '../../../shared/styles/mixins.scss' as *;
.main {
  padding: 50px 150px;
  text-align: center;
  &__title {
    @include fontSize(2em, 400);
    color: color.$dark-grey;
    margin-bottom: 30px;
  }
  hr {
    border: 0;
    border-top: 1px solid color.$light-grey;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 992px) {
  .main {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 768px) {
  .main__title {
    font-size: 1.5em;
  }
}