@use "../../../shared/styles/colors.scss" as color;
@use "../../../shared/styles/mixins.scss" as *;
.restaraunt {
  &__name {
    text-align: center;
    color: color.$mid-light-grey;
    margin-bottom: 30px;
    @include fontSize(2em, 300);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  &__appearance {
    width: 48%;
  }
  &__cuisine {
    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px 0;
    background-color: color.$green;
    color: color.$white;
    font-weight: 200 !important;
    border-radius: 5px;
  }
  &__website {
    text-decoration: none;
    color: color.$dark-grey;
    padding: 10px;
    border-radius: 5px;
    background: color.$light-grey;
    box-shadow: 0 0 10px color.$light-grey;
    display: inline-block;
    font-weight: 600;
    width: fit-content;
    margin-top: 10px;
    &:hover {
      background: color.$light-transparent-black;
      transition: 0.3s;
    }
    img {
      width: 30px;
      vertical-align: middle;
    }
  }
  &__details {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      margin: 5px 0;
      font-size: 1.1em;
      color: color.$mid-light-grey;
      span {
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }
  &__return-button {
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    color: color.$mid-light-grey;
  }
  &__map {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: auto;
  }
}
@media screen and (max-width: 992px) {
  .restaraunt {
    &__name {
      font-size: 1.8em;
    }
    &__cuisine {
      padding: 5px 8px;
    }
    &__details p,
    &__website,
    &__cuisine {
      font-size: 0.9em !important;
    }
  }
}
@media screen and (max-width: 768px) {
  .restaraunt {
    &__name {
      font-size: 1.5em;
    }
    &__content {
      display: block;
      div {
        width: 85%;
        margin: auto;
      }
    }
    &__image {
      margin-bottom: 20px;
    }
    &__cuisines {
      text-align: center;
    }
    &__website {
      margin: 20px auto;
    }
  }
}
