.cinema {
  width: 250px;
  height: 350px;
  text-align: left;
  background: #fff;
  margin: 10px;
  border: 1px solid #e7e7e7;
  &:hover {
    box-shadow: 0 0 10px #e7e7e7;
    h3,
    h4 {
      color: #111;
    }
  }
  a {
    text-decoration: none;
    color: #444;
  }
  &__content {
    padding: 15px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__name {
    font-size: 1.5em;
    font-weight: 300;
    color: #666;
    text-align: center;
  }
  &__location {
    margin: 5px 0;
    font-weight: 400;
    font-size: 0.9em;
    color: #999;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}