@use "../../../shared/styles/colors.scss" as color;
@use "../../../shared/styles/mixins.scss" as *;
.cinema {
  width: 250px;
  height: 350px;
  text-align: left;
  background: color.$white;
  margin: 10px;
  border: 1px solid color.$light-grey;
  &:hover {
    box-shadow: 0 0 10px color.$light-grey;
    h3,
    h4 {
      color: color.$black-background;
    }
  }
  a {
    text-decoration: none;
    color: color.$dark-grey;
  }
  &__content {
    padding: 15px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__name {
    @include fontSize(1.5em, 300);
    color: color.$mid-light-grey;
    text-align: center;
  }
  &__location {
    @include fontSize(0.9em, 400);
    margin: 5px 0;
    color: color.$mid-light-grey;
    img {
      width: 15px;
      margin-right: 5px;
    }
  }
}
@media screen and (max-width: 768px) {
  .cinema {
    width: 70%;
    height: auto;
    margin: 20px auto;
  }
}
