<div class="cinema">
  <img class="cinema__image" [src]="cinema.image" />
  <div class="cinema__content">
    <div class="cinema__name-loc">
      <a [href]="cinema.link" target="_blank">
        <h3 class="cinema__name">{{ cinema.name }}</h3>
      </a>
      <h4 class="cinema__location" *ngFor="let address of addresses; let i = index">
        <img
          class="cinema__loc"
          src="../../../../assets/images/location.png"
        />
        <span class="cinema__address">{{ cinema.address[i] }}</span>
      </h4>
    </div>
  </div>
</div>