<div id="navigation" class="z-index">
  <h1 class="nav__title">
    <img
      class="nav__icon"
      src="/assets/images/travel-guide.png"
      alt="guideicon"
      /> BakuGuide
  </h1>
  <div class="nav__menu-list">
    <a
      class="nav__link"
      routerLink="/"
      routerLinkActive="active"
      >Home</a>
    <a class="nav__link" routerLink="/attractions" routerLinkActive="active">Attractions</a>
    <a class="nav__link" routerLink="/restaurants" routerLinkActive="active">Food and Drink</a>
    <a class="nav__link" href="">Entertainment</a>
    <a class="nav__link" href="">Outdoor activities</a>
    <!-- <a
      (click)="home()"
      class="nav__link"
      routerLink="/"
      routerLinkActive="active"
      >Home</a>
    <a class="nav__link" (click)="toAttractions()" routerLink="/attractions" routerLinkActive="active">Attractions</a>
    <a class="nav__link" (click)="toRestaurants()" routerLink="/restaurants" routerLinkActive="active">Food and Drink</a>
    <a class="nav__link" (click)="toAttractions()" href="">Entertainment</a>
    <a class="nav__link" (click)="toAttractions()" href="">Outdoor activities</a> -->
  </div>
</div>

