#navigation {
  overflow: hidden;
  padding: 10px 100px;
  margin-bottom: 20px;
  max-height: 60px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: -webkit-fill-available;
}
.z-index {
  position: absolute;
  z-index: 99;
}
.sticky {
  position: fixed;
  opacity: 1;
  z-index: 999;
  animation: example .3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 6px 10px -4px #00000026;
  a {
    color: #222;
    cursor: pointer;
  }
  a:hover {
    color: #72ba58;
  }
  .nav__title {
    color: #303030;
  }
}
@keyframes example {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.nav {
  &__link {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 500;
    margin-left: 70px;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: #72ba58;
      transition: .3s;
    }
    &.active {
      color: #72ba58 !important;
    }
  }
  &__title {
    font-size: 2em;
    font-weight: 600;
    color: #fff;
  }
  &__icon {
    width: 50px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1296px) {
  .nav {
    &__menu-list {
      a {
        margin-left: 30px;
      }
    }
  }
}
