@use "../../../shared/styles/colors.scss" as color;

.main {
  width: 100%;
  background-color: color.$grey-background;
  .entertainment-list {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .entertainment {
      width: 200px;
      box-shadow: 0 0 5px color.$mid-transparent-black;
      background-color: color.$green;
      color: color.$white;
      font-weight: 600;
      margin: 20px;
      text-align: center;
      padding: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      cursor: pointer;
      img {
        width: 35px;
        vertical-align: middle;
        margin: 5px;
      }
      &:hover {
        background-color: color.$hover-green;
        img {
          scale: 1.5;
          transition: all 0.3s;
        }
      }
      &:active {
        box-shadow: 0 0 10px color.$mid-transparent-black;
        background-color: color.$active-green;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .entertainment-list {
    display: block !important;
    text-align: center;
    .entertainment {
      display: inline-block;
    }
  }
}
