<app-header
  [pageName]="'Entertainments'"
  [image]="'../../../../assets/images/carpet-museum.jpg'"
></app-header>
<main class="main">
  <div class="entertainment-list">
    <div class="entertainment museums" title="Museums" (click)="showMuseums()">
      <img src="../../../../assets/images/museum.png" />
    </div>
    <div
      class="entertainment theatres"
      title="Theatres"
      (click)="showTheatres()"
    >
      <img src="../../../../assets/images/theater (1).png" />
    </div>
    <div class="entertainment cinemas" title="Cinemas" (click)="showCinemas()">
      <img src="../../../../assets/images/cinema.png" />
    </div>
    <div
      class="entertainment shopping-centres"
      title="Shopping centres"
      (click)="showMalls()"
    >
      <img src="../../../../assets/images/online-shopping.png" />
    </div>
  </div>
  <app-museums *ngIf="museums"></app-museums>
  <app-theatres *ngIf="theatres"></app-theatres>
  <app-cinemas *ngIf="cinemas"></app-cinemas>
  <app-malls *ngIf="malls"></app-malls>
</main>
